
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img{
  max-width: 100%;
}

.header-container {
  background-color: #5995da;  /* Blue */
  display: flex;
  padding: 20px;
  justify-content: flex-start;
}


.header {
  max-width: 100%;
  display: flex;
  justify-content:space-between;
}

.description {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.my_Name {
  font-family: sans-serif;
}

.position {
  font-family: cursive;
}

.hr-rule {
  border-bottom: 3px solid black;
}

.footer_separator_rule {
  border-top: 1px solid gray;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid gray;
}

body {
  background-color: #cae8f0;
}

.title,
.main_image{
  padding: 20px;
}

.main_image{
  width: 100%;
  height: 500px;
}

.article_container {
display: flex;
justify-content:flex-start;
max-width: 100%;
}

.article_title {
  padding: 10px;
}

.figure_container {
  display: flex;
  justify-content: center;
}

.figure2, .figure1, .figure3, .figure4 {
  padding-left: 50px;
}

#project1_image, #project2_image, #project3_image, #project4_image {
  max-width: 100%;
  height: auto;
}
